{% block layout_navbar_menu_items_inner %}
	{% for treeItem in navigationTreeItem %}
        {% set category = treeItem.category %}
        {% set id = category.id %}
        {% set name = category.translated.name %}
        {% set hasChildren = treeItem.children|length > 0 %}

		{% block layout_navbar_menu_item %}
            <div class="nav-item nav-item-{{ id }}">
                <div class="nav-link nav-item-{{ id }}-link main-navigation-link{% if treeItem.children|length > 0 %} dropdown has-children{% else %} has-no-children{% endif %}{% if category.type == 'folder' %} is-folder{% endif %}{% if level > 0 %} dropend{% endif %}{% block layout_navbar_menu_item_link_container_cssclasses %}{% endblock %}">
                    {% if category.type == 'folder' %}
                        {% block layout_navbar_menu_item_folder %}
                            <div class="main-navigation-link-text{% block layout_navbar_menu_item_folder_link_text_cssclasses %}{% endblock %}" title="{{ name }}">
                                <span class="main-navigation-link-text-inner" itemprop="name">
                                    {{ name }}

                                    {% if treeItem.children|length > 0 %}
                                        {% block layout_navbar_menu_item_folder_icon %}
                                            {% sw_icon 'arrow-medium-right' style {'pack': 'solid', 'size': 'xs' }%}
                                        {% endblock %}
                                    {% endif %}
                                </span>
                            </div>
                        {% endblock %}
                    {% else %}
                        {% block layout_navbar_menu_item_no_folder %}
                            <div class="nav-item nav-item-{{ id }}">
                                <a class="nav-link nav-item-{{ id }}-link main-navigation-link p-2 nav-item-{{ id }}{% if treeItem.children|length > 0 %} has-children{% else %} has-no-children{% endif %}{% block layout_navbar_menu_item_no_folder_link_cssclasses %}{% endblock %}"
                                    href="{{ seoUrl('frontend.navigation.page', { navigationId: id }) }}"
                                    {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                    itemprop="url"
                                    title="{{ name }}">
                                    <span class="main-navigation-link-text">
                                        <span class="main-navigation-link-text-inner" itemprop="name">
                                            {% if treeItem.children|length > 0 %}
                                                {% block layout_navbar_menu_item_no_folder_icon_before %}
                                                    {% if config('SschreierDropdownMenu.config.dropdownMenuMultiLineOpenLastChildToLeft') or config('SschreierDropdownMenu.config.dropdownMenuAlwaysOpenToLeft') %}
                                                        {% sw_icon 'arrow-medium-left' style {'pack': 'solid', 'size': 'xs' } %}
                                                    {% endif %}
                                                {% endblock %}
                                            {% endif %}

                                            {{ name }}

                                            {% if treeItem.children|length > 0 %}
                                                {% block layout_navbar_menu_item_no_folder_icon_after %}
                                                    {% sw_icon 'arrow-medium-right' style {'pack': 'solid', 'size': 'xs' }%}
                                                {% endblock %}
                                            {% endif %}
                                        </span>
                                    </span>
                                </a>
                            </div>
                        {% endblock %}
                    {% endif %}

                    {% if treeItem.children|length > 0 %}
                        {% block layout_navbar_menu_item_dropdown_menu %}
                            <div class="dropdown-menu dropdown-menu-level-{{ level }}{% if config('SschreierDropdownMenu.config.dropdownMenuAlwaysOpenToLeft') %} dropdown-menu-right{% endif %}{% block layout_navbar_menu_item_dropdown_menu_additional_cssclasses %}{% endblock %}">
                                {% block layout_navbar_menu_item_dropdown_menu_include %}
                                    {% sw_include '@SschreierDropdownMenu/storefront/layout/navbar/navbar-items.html.twig' with {
                                        themeIconConfig: themeIconConfig,
                                        navigationTreeItem: treeItem.children,
                                        level: level+1,
                                        page: page
                                    } %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
		{% endblock %}
	{% endfor %}
{% endblock %}
