{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation %}
    {% block layout_main_navigation_dropdownmenu_before %}{% endblock %}

    {% if config('SschreierDropdownMenu.config.dropdownStickyMenuIsActive') %}
        {% set activeViewportsDropdownStickyMenuString = "" %}

        {% for activeViewportDropdownStickyMenu in config('SschreierDropdownMenu.config.activeViewportsDropdownStickyMenu') %}
            {% set activeViewportsDropdownStickyMenuString = activeViewportsDropdownStickyMenuString ~ activeViewportDropdownStickyMenu %}
        {% endfor %}

        {% if activeViewportsDropdownStickyMenuString == "lgxl" or activeViewportsDropdownStickyMenuString == "xllg" %}
            {% set notActiveViewportsDropdownStickyMenuString = "'XS', 'SM', 'MD'" %}
        {% elseif activeViewportsDropdownStickyMenuString == "lg" %}
            {% set notActiveViewportsDropdownStickyMenuString = "'XS', 'SM', 'MD', 'XL'" %}
        {% elseif activeViewportsDropdownStickyMenuString == "xl" %}
            {% set notActiveViewportsDropdownStickyMenuString = "'XS', 'SM', 'MD', 'LG'" %}
        {% elseif activeViewportsDropdownStickyMenuString == "" %}
            {% set notActiveViewportsDropdownStickyMenuString = "'XS', 'SM', 'MD', 'LG', 'XL'" %}    
        {% endif %}

        {% block layout_main_navigation_dropdownmenu_stickymenu_inner_before %}{% endblock %}

        <div class="main-navigation-wrapper main-navigation-wrapper-dropdown{% if config('SschreierDropdownMenu.config.dropdownMenuIsActive') %} has-dropdownmenu{% endif %}"
             data-dropdown-sticky-menu="true"
             data-dropdown-sticky-menu-plugin-options='{
                "positionDropdownStickyMenuIsActive": "{{ config('SschreierDropdownMenu.config.positionDropdownStickyMenuIsActive') }}",
                "notActiveViewportsDropdownStickyMenu": "{{ notActiveViewportsDropdownStickyMenuString }}"
             }'>
            {{ parent() }}
        </div>

        {% block layout_main_navigation_dropdownmenu_stickymenu_inner_after %}{% endblock %}
    {% else %}
        {% block layout_main_navigation_dropdownmenu_inner_before %}{% endblock %}

        <div class="main-navigation-wrapper main-navigation-wrapper-dropdown{% if config('SschreierDropdownMenu.config.dropdownMenuIsActive') %} has-dropdownmenu{% endif %}">
            {{ parent() }}
        </div>

        {% block layout_main_navigation_dropdownmenu_inner_after %}{% endblock %}
    {% endif %}

    {% block layout_main_navigation_dropdownmenu_after %}{% endblock %}
{% endblock %}

{% block layout_main_navigation_menu_home %}
    {% block layout_main_navigation_menu_home_dropdownmenu_before %}{% endblock %}

    {% if config('SschreierDropdownMenu.config.showNavigationMenuItemHome') %}
        {% if config('SschreierDropdownMenu.config.replaceNavigationMenuItemHomeWithIcon') %}
             <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
                href="{{ path('frontend.home.page') }}"
                itemprop="url"
                title="{{ homeLabel|striptags }}">
                <div class="main-navigation-link-text">
                    <span class="icon-home-container">{% sw_icon 'home' %}</span>
                </div>
            </a>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% else %}
    {% endif %}

    {% block layout_main_navigation_menu_home_dropdownmenu_after %}{% endblock %}
{% endblock %}

{% block layout_main_navigation_menu_items %}
    {% block layout_main_navigation_menu_items_dropdownmenu_before %}{% endblock %}

    {% if config('SschreierDropdownMenu.config.dropdownMenuIsActive') %}
        {% sw_include '@SschreierDropdownMenu/storefront/layout/navigation/navigation-menuitems.html.twig' with {navigationTreeItem: page.header.navigation.tree, level: 0, pageHeaderNavigationActive: page.header.navigation.active} only %}
    {% else %}
        {{ parent() }}
    {% endif %}

    {% block layout_main_navigation_menu_items_dropdownmenu_after %}{% endblock %}
{% endblock %}

 {% block layout_main_navigation_menu_flyout_wrapper %}
    {% block layout_main_navigation_menu_flyout_wrapper_dropdownmenu_before %}{% endblock %}

    {% if config('SschreierDropdownMenu.config.dropdownMenuIsActive') %}
    {% else %}
        {{ parent() }}
    {% endif %}

    {% block layout_main_navigation_menu_flyout_wrapper_dropdownmenu_after %}{% endblock %}
 {% endblock %}