{% block layout_main_navigation_menu_items_inner %}
	{% if page.product is defined %}
		{% set activePath = page.product.categoryTree %}
	{% else %}
		{% set activePath = pageHeaderNavigationActive.path %}
	{% endif %}

	{% for treeItem in navigationTreeItem %}
		{% set category = treeItem.category %}
		{% set name = category.translated.name %}

		{% block layout_main_navigation_menu_item %}
            <div class="nav-link main-navigation-link
            	{% if treeItem.children|length > 0 %} dropdown{% endif %}
            	{% if category.id == pageHeaderNavigationActive.id or category.id in activePath %} active{% endif %}
            	{% if level > 0 %} dropright{% endif %}">
				{% if category.type == 'folder' %}
					<div class="main-navigation-link-text"
						title="{{ name }}">
						<span itemprop="name">
							{{ name }}
							{% if treeItem.children|length > 0 %}
								{% if level > 0 %}
									{% sw_icon 'arrow-medium-right' style {'pack': 'solid', 'size': 'xs' }%}
								{% else %}
									{% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs' }%}
								{% endif %}
							{% endif %}
						</span>
					</div>
				{% else %}
					<a class="main-navigation-link-text
						{% if category.id == pageHeaderNavigationActive.id or category.id in activePath %} active{% endif %}"
						href="{{ category_url(category) }}"
						itemprop="url" 
						{% if category_linknewtab(category) %}target="_blank"{% endif %}
						title="{{ name }}">
						<span itemprop="name">
							{{ name }}
							{% if treeItem.children|length > 0 %}
								{% if level > 0 %}
									{% sw_icon 'arrow-medium-right' style {'pack': 'solid', 'size': 'xs' }%}
								{% else %}
									{% sw_icon 'arrow-medium-down' style {'pack': 'solid', 'size': 'xs' }%}
								{% endif %}
							{% endif %}
						</span>
					</a>
				{% endif %}

				{% if treeItem.children|length > 0 %}
					{% block layout_main_navigation_menu_item_dropdown_menu %}
						<div class="dropdown-menu">
							{% block layout_main_navigation_menu_item_dropdown_menu_include %}
								{% sw_include '@SschreierDropdownMenu/storefront/layout/navigation/navigation-menuitems.html.twig' with {navigationTreeItem: treeItem.children, level: level+1, pageHeaderNavigationActive: pageHeaderNavigationActive} only %}
							{% endblock %}
						</div>
					{% endblock %}
				{% endif %}
			</div>
		{% endblock %}
	{% endfor %}
{% endblock %}
